<footer>

    <!-- FOOTER START -->
    <div class="footer">
        <div class="contain">
            <div class="col">
                <h1>Core Networks</h1>
                <ul>
      <li>
          Información
      </li>
      <li>
        Asignaturas
      </li>
      <li>Ciclos</li>
    </ul>
</div>
<div class="col">
    <h1>Profesores</h1>
    <ul>
        <li>Sobre ellos</li>
        <li>Lista</li>
        <li>Servicios</li>
    </ul>
</div>
<div class="col">
    <h1>Accounts</h1>
    <ul>
        <li>About</li>
        <li>Mission</li>
        <li>Services</li>
        <li>Social</li>
    </ul>
</div>
<div class="col">
    <h1>Recursos</h1>
    <ul>
        <li>Libros</li>
        <li>Correos</li>
        <li>Ubicacion</li>
        <li>Materiales</li>
    </ul>
</div>
<div class="col">
    <h1>Soporte</h1>
    <ul>
        <li>Contactanos</li>
        <li>Web chat</li>
    </ul>
</div>
<div>
    <img src="/static/img/index.png" alt="corenetworks" >
</div>
<div class="clearfix"></div>
</div>
</div>
</footer>
